<header class="header">
    <div class="hamburger-icon" [ngClass]="{'hamburger-icon-open': isMenuVisible === 'showMenu'}" (click)="onToggleMenu()">
        <div class="hamburger-icon-line"></div>
        <div class="hamburger-icon-line"></div>
        <div class="hamburger-icon-line"></div>
    </div>
</header>

<div [@toggleMenu]="isMenuVisible" class="header-container">
    <nav class="navigation">
        <a [routerLink]="['/']" class="navigation-item">HOME</a>
        <a [routerLink]="['/portfolio']" class="navigation-item">PORTFOLIO</a>
        <a href="#" class="navigation-item">CONTACT</a>
    </nav>

    <div class="social-container">
        <div class="social-container-item"><img src="assets/icons/dribble-icon.svg" alt="Dribble"></div>
        <div class="social-container-item"><img src="assets/icons/behance-icon.svg" alt="Behance"></div>
        <div class="social-container-item"><img src="assets/icons/instagram-icon.svg" alt="Instagram"></div>
    </div>
</div>

<router-outlet></router-outlet>
